

body{
    background-color: rgb(5, 5, 63);
}

#message{
    text-align: center;
    font-size: 50px;
    color: red;
    font-weight: bold;
}

#confirmationLink{
    text-align: center;
    font-size: 39px;
    color: rgb(38, 255, 0);
    font-weight: bold;
    margin-left: 45%;
}