
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.background{
   float: left;
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(to left, rgba(97, 97, 11, 0.655),rgb(157, 109, 117),rgba(145, 15, 15, 0.342));
}


#div1{
    display: flex;
    background-color: rgba(13, 54, 2, 0.614);
    text-align: center;
    padding: 30px;
}

#logo{
    margin-top: 2%;
    margin-left: 40%;

}

#headTitle{
    color: yellow;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2%;
}

.loginDiv{
    max-width: 500px;
    margin: 50px auto;
    padding: 70px;
    background-color: rgba(92, 63, 25, 0.497);;
    border-top: 2px solid yellow;
    border-bottom: 2px solid red;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    box-shadow: 0 0 30px rgb(45, 1, 1);
}

#loginLogo{
    margin-left: 30%;
}

#loginHeadTitle{
    margin-left: 30%;
    font-size: 20px;
    color: rgb(235, 141, 9);
    text-shadow: 0 0 30px rgb(45, 1, 1);
    margin-bottom: 20px;
}

#message{
    margin-left: 30%;
    font-size: 16px;
    color: rgb(223, 3, 6);
}

.label{
    font-size: 16px;
    color: rgb(0, 255, 187);
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

input[type="text"],input[type="password"]{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: snow;
    background-color: rgba(222, 184, 135, 0.347);
    border: 2px solid rgb(167, 157, 13);
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
}

.btnSubmit{
    font-size: 16px;
    background-color: #052e0f;
    color: yellow;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left:40%;
}

.btnReset{
    font-size: 16px;
    background-color: #e6041b;
    color: yellow;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#registrationLink{
    margin-left: 30px;
    color: rgb(7, 222, 241);
}
