
*{
    box-sizing: border-box;
}


body{
    background-color: bisque;
    /* background-image: linear-gradient(to left, rgba(97, 97, 11, 0.655),rgb(157, 109, 117),rgba(145, 15, 15, 0.342)); */
}



#headDiv{
    display: flex;
    padding: 20px;
    box-shadow: 6px 5px 30px red;
    background-color: rgb(6, 103, 4);
    border-radius: 20px;
    margin-bottom: 50px;
}

#logo{
    width: 64px;
    height: 64px;
    margin-top: 15px;
    margin-left: 40%;
}

#title{
    color: yellow;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

fieldset{
    background-image: linear-gradient(to left, rgba(97, 11, 77, 0.655),rgb(39, 71, 55),rgb(80, 6, 6));
    max-width: 50px auto;
    border-radius: 10px;
    padding: 80px;
    overflow: auto;
}

legend{
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(197, 154, 102);
    padding: 15px;
    text-shadow: 5px 5px 20px rgb(243, 0, 0);
    color: rgb(91, 5, 5);
    font-weight: bold;

}

#backbtn{
    background-color: rgb(59, 3, 3);
    color: yellow;
    font: 16px;
    font-weight: bold;
    padding:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-left: 20px;
    text-decoration: none;
    margin: 20px;
    box-shadow: 5px 5px 10px rgb(243, 0, 0);
}

.label{
    font-size: 18px;
    color: aqua;
    text-align: right;
}

table{
    margin-left: 35%;
}

input[type="text"]{
    text-align: center;
    color: bisque;
}

input[type="text"],input[type="date"],select{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgb(60, 60, 60);
    background-color:rgb(129, 129, 129); 
    text-align: center;
    font-size: 17px;
    color:antiquewhite
}

input[type="date"]{
    border-radius: 10px;
    padding: 5px;
    width: 230px;
    border: 1px solid rgb(60, 60, 60);
    background-color:rgb(129, 129, 129); 
    text-align: center;
    font-size: 17px;
    color:antiquewhite
}

input[type="submit"]{
    margin-top: 10px;
    background-color: rgb(4, 58, 4);
    border: 1px solid greenyellow;
    padding: 10px;
    color: yellowgreen;
    border-radius: 20px;
    width: 240px;
    font-weight: bold;
}

#message{
    font-size: 16px;
    color: red;
    text-align: center;
}