/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    background-image: url('..//Documents/Medical_History.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h3 {
    text-align: center;
    color: #3498db;
}

legend {
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
}

legend.legend-center {
    text-align: center;
}

table {
    width: 100%;
}

table td {
    padding: 8px;
    text-align: left;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

textarea {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
    width: 48%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #2980b9;
}

.error {
    color: #e74c3c;
    font-size: 14px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
}
